<div class="borrow_management">
    <h2>借阅管理</h2>
    <button onclick="loadContent('query_allborrow')">查看所有借阅记录</button>
    <button onclick="loadContent('user_borrow_book')">查看某一用户借的所有书籍</button>
    <button onclick="loadContent('borrow_book_user')">查看借阅某本书的所有用户</button>
    <button onclick="loadContent('query_dayborrow')">查看某一天的借书记录</button>
    <button onclick="loadContent('delete_user_borrow')">删除某个用户的借数记录</button>
    <button onclick="loadContent('delele_borrow')">删除某个日期之前已经归还的借书记录</button>
    <button onclick="loadContent('borrow_book_user')">查看借阅某本书的所有用户</button>
    <div id="bookContentArea">
        <!-- 动态内容将加载到这里 -->
    </div>
</div>